* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  padding: 50px;
  min-height: 100%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(./images/crab-nebula.jpg);
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  color: #eee;
  font-family: Poppins;

  @media (max-width: 767px) {
    padding: 15px;
  }
}

#main {
  width: 100%;
  align-self: center;
  margin: 0;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    width: 100%;
  }
}

#side {
  flex-basis: 30%;

  @media (max-width: 767px) {
    flex-basis: 100%;
    text-align: center;
  }
}

#countdown-container {
  text-align: center;
  flex: 1;

  @media (max-width: 767px) {
    margin-top: 50px;
  }
}

#countdown {
  font-size: 10rem;
  padding: 15px;

  @media (max-width: 767px) {
    font-size: 8rem;
  }
}

#cover {
  width: 30%;
  margin-bottom: 15px;
  height: auto;
  border: 1px solid white;
}

h1 {
  font-weight: 900;
}

p.lead {
  font-size: 1.5rem;
}

a.btn, button {
  text-decoration: none;
  background-color: transparent;
  padding: 15px;
  text-transform: uppercase;
  color: #eee;
  border: 2px solid #eee;
  cursor: pointer;

  &[disabled] {
    opacity: 0.5;
  }

  &:hover {
    opacity: 0.5;
  }
}

#footer {
  align-self: center;
  opacity: 0.75;
  font-size: 0.75rem;
}

#drop #main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;

  > * {
    flex-basis: 50%;

    @media (max-width: 767px) {
      flex-basis: 100%;
    }
  }

  @media (max-width: 767px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#drop-text {
  padding: 40px;
  line-height: 1.25;

  p {
    font-size: 1.5rem;

    @media (max-width: 767px) {
      margin-top: 0;
    }
  }

  @media (max-width: 767px) {
    padding: 10px;
    padding-top: 0;
    /* margin-top: -50px; */
  }
}